.rateWrap {
    display: inline-block;
}

.star {
    cursor: pointer;

    box-sizing: content-box;
    padding-right: 6px;

    fill: #dadada;
}


.star:last-child {
    padding-right: 0;
}

.star.active{
    fill: #ffc700;
}

.star.hover{
    fill: #ff9c00;

    transition: all 0.3s ease-in-out 0s;
}

