.profile {
}

.link {
    position: relative;

    display: inline-block;

    margin: 24px 0 12px 0;
    padding-left: 32px;

    font-family: inherit;
    font-size: 14px;
    line-height: 171%;
    color: #000;
    text-decoration: none;

    transition: all 0.3s ease-in-out 0s;
}

.link:hover {
    color: #DD3636
}

.link:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 24px;


    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400.004 400.004'%3E%3Cpath d='M382.688 182.686H59.116l77.209-77.214c6.764-6.76 6.764-17.726 0-24.485-6.764-6.764-17.73-6.764-24.484 0L5.073 187.757c-6.764 6.76-6.764 17.727 0 24.485l106.768 106.775a17.252 17.252 0 0012.242 5.072c4.43 0 8.861-1.689 12.242-5.072 6.764-6.76 6.764-17.726 0-24.484l-77.209-77.218h323.572c9.562 0 17.316-7.753 17.316-17.315 0-9.562-7.753-17.314-17.316-17.314z'/%3E%3C/svg%3E");    background-repeat: no-repeat;
}

.cardProfile {
    max-width: 413px;
    margin: 0 auto;
    padding: 27px 20px 36px;

    background: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
}

.title {
    margin-top: 0;
    margin-bottom: 30px;

    font-size: 1.375em;
    font-weight: 600;
    line-height: 125%;
    text-align: center;
}

.wrapAvatar {
    position: relative;

    box-sizing: border-box;
    width: 96px;
    height: 96px;
    margin: 0 auto 17px;

}

.wrapAvatar img {
    max-width: 100%;

    border-radius: 50%;
}
.addPhotoBtn {
    cursor: pointer;

    position: absolute;
    right: 0;
    bottom: 0;

    width: 32px;
    height: 32px;

    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 32 32'%3E%3Ccircle cx='16' cy='16' r='15.5' fill='gray' stroke='%23fff'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M16 18.844a2.489 2.489 0 100-4.977 2.489 2.489 0 000 4.977zm0-.622a1.867 1.867 0 100-3.733 1.867 1.867 0 000 3.733z' clip-rule='evenodd'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M18.997 11.378c-.746-.686-1.433-1.245-3.019-1.245s-2.273.56-3.019 1.245H10.4c-1.03 0-1.867.835-1.867 1.866v6.223c0 1.03.836 1.866 1.867 1.866h11.2a1.867 1.867 0 001.867-1.866v-6.223c0-1.03-.836-1.866-1.867-1.866h-2.603zm-.244.622l-.065-.06-.18-.166a5.408 5.408 0 00-.665-.537c-.422-.278-.95-.482-1.865-.482-.914 0-1.443.204-1.865.482a5.408 5.408 0 00-.666.537l-.18.166-.065.06H10.4c-.687 0-1.244.557-1.244 1.244v6.223c0 .687.557 1.244 1.244 1.244h11.2c.687 0 1.244-.557 1.244-1.244v-6.223c0-.687-.557-1.244-1.244-1.244h-2.847z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    border: none;

    transition: all 0.3s ease-in-out 0s;
}

.addPhotoBtn:hover {
    opacity: 0.8;
}

.body {
    text-align: center;
}


.editableSpan {
    display: inline-block;

    margin-bottom: 14px;
}
.email {
    margin-bottom: 29px;

    font-size: 0.875em;
    font-weight: 400;
    line-height: 171%;
    color: #808080;
}

.submit {
    position: relative;

    padding-left: 41px;

    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    line-height: 125%;
    color: #323232;
    letter-spacing: 0.01em;

    background: #fcfcfc;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}
.submit:hover {
    background-color: #f5f5f5;
}

.submit::before {
    content: '';

    position: absolute;
    top: 10px;
    left: 20px;

    width: 16px;
    height: 16px;


    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5' d='M11.627 9.747l1.706-1.707-1.706-1.707M6.507 8.04h6.78M7.84 13.333c-2.947 0-5.333-2-5.333-5.333S4.893 2.667 7.84 2.667'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}
