.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 100vh;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 30%;
  height: 60%;

  background-color: #F9F9FE;
}
.title {
  padding-bottom: 80px;
}
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fogotLink {
  margin-left: 250px;
  padding: 20px;

  text-align: right;
}
.loginButton {
  padding: 20px;
}
.signUpLink {
  padding: 20px;
}