.pagination button {
    cursor: pointer;

    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin-right: 12px;

    font-family: inherit;
    font-size: 0.75em;
    line-height: 125%;

    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}

.pagination button:disabled {
    opacity: 0.5;
}

.pagination .previousBtn {
    width: 6px;
    height: 9px;
    margin-right: 22px;

    background-image: url("data:image/svg+xml,%3Csvg width='6' height='9' viewBox='0 0 6 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 1L1 4.43182L5 7.93306' stroke='black'/%3E%3C/svg%3E ");

}
.pagination .nextBtn {
    width: 6px;
    height: 9px;
    margin: 0 0 0 22px;


    background-image: url("data:image/svg+xml,%3Csvg width='6' height='9' viewBox='0 0 6 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7.93311L5 4.50129L1 1.00004' stroke='black'/%3E%3C/svg%3E ");
}

.pagination .points {
    color: #000;

    opacity: 1;
}

.pagination .lastPage {
    margin-right: 0;
}

.pagination .selectedPage {
    color: #fff;

    background: #366EFF;
    border-radius: 2px;
}

.pagination .pageCount {
    margin-left: 30px;
}