.default {
  cursor: pointer;

  padding: 20px 25px;

  font-size: 18px;
  color: #ffffff;
  letter-spacing: 2px;

  background: #0d68f9;
  border: none;
  border-radius: 8px;

  transition: all 0.3s ease-in-out 0s;
}

.default:hover {
  background: #003299;
}

.default:disabled {
  background: #c3dafe;
}
