.default {
    padding: 20px 25px;
    background: #0D68F9;
    border-radius: 8px;
    border: none;

    font-size: 18px;
    letter-spacing: 2px;
    color: #FFFFFF;

    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
}

.default:hover {
    background: #003299;
}

.default:disabled {
    background: #C3DAFE;
}
