.wrap {
    position: relative;

    display: inline-block;

}

.default {
    display: flex;
    align-items: center;

    padding: 18px 0 4px 0;

    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    line-height: 150%;

    border: none;
    border-bottom: 2px solid #ccc;

    transition: all 0.3s ease-in-out 0s;
}

.default:hover{
    border-color: #808080;
    outline: none;
}
.default:focus {
    border-color: #366EFF;
    outline: none;
}



.default:disabled {
    color: rgba(0, 0, 0, 0.5);

    background-color: rgb(204, 204, 204, 0.2);
}

.default:focus + .placeholder {
    color: #366EFF;
}

.placeholder {
    pointer-events: none;

    position: absolute;
    bottom: 4px;
    left: 0;

    font-size: 1em;
    font-weight: 400;
    line-height: 154%;
    color: #808080;

    transition: all 0.3s ease-in-out 0s;
}

.placeholder.up {
    bottom: 100%;
    transform: translate(0, 100%);

    font-size: 0.8125em;
}


.errorDefault {
    position: absolute;

    font-size: 15px;
    font-weight: 500;
    color: red;
}
